{% extends 'UserZone/UserMaster.html' %}
{% block contentarea %}
    <div class="container-fluid">
    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-4"></div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-sm-4 pannel pannel-body" style="border:1px solid teal">
            <input type="password" name="oldpass" placeholder="enter your old password" class="form-control" style="margin-top:40px;">
                <input type="password" name="newpass" placeholder="enter your new password" class="form-control" style="margin-top:40px;">
                <input type="password" name="cpass" placeholder="enter your confirm password" class="form-control" style="margin-top:40px;">
                <input type="submit" class="btn btn-success" value="change password" style="margin-top:20px;">
    </div>
        </form>
        <div class="col-sm-4"></div>
    </div>
    </div>
{% endblock %}